.rightman .contentpane{ background:url(images/man.png) right top no-repeat;min-height:220px; height:auto;padding-left:15px; padding-right:40%; line-height:20px}
* html .rightman .contentpane{ height:220px}
.bannertitle{ font-size:26px; font-weight:bold; line-height:40px; color:#000000}














