.leftwoman .contentpane{ background:url(images/womanl.png) left top no-repeat;min-height:220px; height:auto; padding-left:40%; line-height:20px}
* html .leftwoman .contentpane{ height:220px}
.bannertitle{ font-size:26px; font-weight:bold; line-height:40px; color:#000000}














