/* Skin COLORED3 TAGS */
.TagCloud-Colored3 {margin: 0;padding: 0;
           font-style: normal;font-variant: normal;font-weight: 400;font-size: 100%;line-height: 160%;text-align: center;}
		   
.TagCloud-Colored3 span a {margin-top: 0px;margin-right: 5px;margin-bottom: 0px;margin-left: 5px;
                  white-space: nowrap;text-transform: capitalize;color: #763712;font-family: "Georgia", "Times New Roman", "Times", serif;}
				  
.TagCloud-Colored3 span a:hover {background-color:black;color:white;text-decoration:none}

.TagCloud-Colored3 span .CloudItem-Colored3_0 {color:#6e869e;}
.TagCloud-Colored3 span .CloudItem-Colored3_1 {color:#848f9b;}
.TagCloud-Colored3 span .CloudItem-Colored3_2 {color:#125ca7;}
.TagCloud-Colored3 span .CloudItem-Colored3_3 {color:#6e869e;} 
.TagCloud-Colored3 span .CloudItem-Colored3_4 {color:#848f9b;}
.TagCloud-Colored3 span .CloudItem-Colored3_5 {color:#848f9b;}
.TagCloud-Colored3 span .CloudItem-Colored3_6 {color:#125ca7;}