/* Skin Tomorrow */
.TagCloud-Tomorrow {margin: 0;padding: 0;
           font-style: normal;font-variant: normal;font-weight: 400;font-size: 100%;line-height: 160%;text-align: center;}
.TagCloud-Tomorrow span a {margin-top: 0px;margin-right: 5px;margin-bottom: 0px;margin-left: 5px;
                  white-space: nowrap;text-transform: capitalize;color: black;font-family: 'NB55RMS', 'Courier New';}
				  
.TagCloud-Tomorrow span a:hover {background-color:black;color:white;text-decoration:none}