/*the background image for the Grassland theme*/
Body{ background:url(../../images/background/splendid.jpg) top center no-repeat #fff}

/*the link styles for the Grassland theme*/
a,a:link,a:visited,a:active{ color:#41b7df;text-decoration:none;font-weight: bold;}
a:hover	{ color:#2298c0;text-decoration:underline;}

/*the options link styles for the Grassland theme*/
.options,a.options:link,a.options:active,a.options:visited { color:#fff; border-left:1px #fff solid} span.options:hover{ color:#ff0}

/*the CurrentDate link styles for the Grassland theme*/
.CurrentDate{ color:#fff}

/*the user object link styles for the Grassland theme*/
.user,a.user:link,a.user:active,a.user:visited{ color:#000;} a.user:hover{ color:#ff0;}

/*the login object link styles for the Grassland theme*/
.login,a.login:link,a.login:active,a.login:visited { color:#000;} a.login:hover{ color:#ff0;}

/*the text "You are here" styles for the Grassland theme*/
.brisk_bread_bg{ color:#000; font-weight:bold}

/*the Breadcrumb object link styles for the Grassland theme*/
.Breadcrumb,a.Breadcrumb:link,a.Breadcrumb:active,a.Breadcrumb:visited{color:#000} a.Breadcrumb:hover{ color:#ff0}

/*the Privacy object link styles for the Grassland theme*/
.privacy,a.privacy:link,a.privacy:active,a.privacy:visited { color:#aaa} a.privacy:hover{ color:#38b7e4}

/*the Terms object link styles for the Grassland theme*/
.terms,a.terms:link,a.terms:active,a.terms:visited { color:#aaa} a.terms:hover{ color:#38b7e4}

/*the CopyRight object link styles for the Grassland theme*/
.copyright{ color:#aaa}

/*the Links object link styles for the Grassland theme*/
.links{ color:#ccc}a.links:link,a.links:active,a.links:visited{ color:#094e66;} a.links:hover{ color:#38b7e4}



