body,th,td,div,p,table,.Normal,.NormalDisabled,.Head,.SubHead,.SubSubHead, a:link, a:visited, a:hover{font-size:13px;}
h1{font-size:22px;}
h2{font-size:20px;}
h1 {font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5, h6{font-size:13px;}
.ControlPanel a.CommandButton:link, .ControlPanel a.CommandButton:visited, .ControlPanel .SubHead{font-size:13px;}





