.leftman .contentpane{ background:url(images/blackman.png) left top no-repeat;min-height:220px; height:auto; padding-left:45%; line-height:20px}
* html .leftman .contentpane{ height:220px}
.bannertitle{ font-size:26px; font-weight:bold; line-height:40px; color:#000000}














