.clear{ clear:both;}
/*table样式*/
.table_default{ background-color: #cad9ea; width: 100%; margin-top:3px; border-top:solid 1px #8DB2E3;word-break:break-all;word-wrap:break-word;}
.table_default tr td{background-color:#ffffff;word-break:break-all;word-wrap:break-word;}
.table_default tr th{background-color:#ffffff;}
.table_default .caption td,.table_default .caption th{background-color: #e7e7e7; height: 21px; font-weight: bold;}
.table_default .white td,.table_default .white th{background-color: #ffffff; height: 21px;}
.table_default .gray td,.table_default .gray th{background-color: #f7f6f3; height: 21px;}
/*文章显示样式*/
.articleItem{padding:5px;margin:20px;}
.articleMain { background:#f8fafd; border:#d9d9d9 1px solid;}
.articleTitle{	text-align:center;}
.articleInfo{	text-align:center;border:1px solid #dfe9f2;color:#8a8a8a;background-color:#fff;}
.articleInfo p{	margin:0px;	padding:0px;}
.articleContent { padding:2px;word-break:break-all;word-wrap:break-word; line-height:23px; }
.commentlist{ border-bottom:#777 1px dotted; padding:2px 0px 2px; margin-bottom:10px;}
.articleComment{ border:#d9d9d9 1px solid;}
.articleComment .commentTitle{ border-bottom:#cecece 1px solid; font-size:14px; font-weight:bold; padding:2px 0px 2px;}
.articleComment .postnew{ }
.articleComment  TextArea{ border:#d4d0c8 1px solid; width:99%; height:100px; margin:6px 0px 6px 0px; font-size:14px;}
.submit{float:right;}
.articleComment .refCmt{ padding:2px 2px 2px 10px; border:#cecece 1px solid;}
.articleComment .head{float:left; width:60px; margin:2px; display:block;}
.articleComment .head IMG{ width:48px; height:48px;}
.articleComment .comment{ float:left; display:block; line-height:150%; word-break:break-all;word-wrap:break-word;margin:6px auto; font-size:12px; color:#000;}
.articleComment .ditail{ text-align:right; margin:3px; font-size:12px;}
/*文章列表样式*/
.Article { border-bottom:#ccc 1px dotted; padding-bottom:15px; margin-bottom:15px;}
.Article p{	 line-height:23px;text-indent:2em; margin:2px ; }
.Article H3{ font-size:14px; font-weight:bold; color:#105cb6;}
ul.article_list_title{ list-style-type:none; line-height:24px;margin:0px; padding:0px;}
ul.article_list_title li{ list-style-type:none; margin:0px; width:100%}
ul.article_list_title p{ float:left; line-height:14px; color:#999999; width:auto !important;}
ul.article_list_title span{ float:right; color:#999999; font-size:12px;}
/*分类列表样式*/
.LinksWrap{}
.LinksWrap li a{ line-height:25px;  display:block; border-bottom:#dddddd solid 1px;padding: 0px 5px 0px 27px; border color:#484848; overflow:hidden; text-decoration:none; background:url(images/list-icon.png) no-repeat 6px 7px; font-size:13px;}
.LinksWrap li a:hover{ background-color:#7ac62e; color:White;}
.LinksWrap li div{ padding-left:15px; display:block;}