/** menu **/
.RadMenu { float:none !important; width:100%;}
.rmItem { float:none !important; padding:0px 0px 5px !important;}
.rmLink { float:none !important;background:url(img/button_medium_left.gif) no-repeat 0px 0px; padding-left:5px !important;text-decoration:none !important;}
.rmText { float:none !important; height:23px;width:280px; cursor: pointer; line-height:18px;font-size:14px;font-weight:bold;color:white; 
		text-align:right; display:block ;background:url(img/button_medium_right.gif)  no-repeat right 0px ;padding:6px 10px 3px 0px !important;
		margin:0px !important; }
.rmLink:hover{ background-position: 0px -32px !important; }
.rmLink:hover span { background-position: right -32px !important; }
li.rmItem a.rmLink{ width:100%;}