<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>60a3e705-e228-457e-9a86-60824931f97a</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>60a3e705-e228-457e-9a86-60824931f97a</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>60a3e705-e228-457e-9a86-60824931f97a</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>6FDAE2D4C0A92DAA70E3C7302E496813</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
